<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./partials/head.bt.ejs') %>
    <%- include('./partials/head') %>
    <title>Página uno <%= title %> </title>


    
</head>
<body>
    <%- include('./partials/nav.bt.ejs') %>
    <h1>Página uno</h1>
    <%- include('./partials/footer') %>
    <%- include('./partials/script.bt.ejs') %>
</body>
</html>